* {
    background-color: rgb(148, 204, 253);
    font-family: Century Gothic;
}

.titulo {
    padding-top: 100px;
    
    text-align: center;
}

.div_longuitud {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#resultado {
    border-radius: 15px;
    padding: 15px;
    background-color: none;

    
}

#p_footer {
    padding-top: 100px;
    text-align: center;
}